<table class='leaderboard'>
<tr>
  <th>Player</th>
  <th>Win Number</th>
</tr>
  <% for (leader in leaders) { %>

  <tr>
    <td class='player'><%= leader %></td>
    <td class='wins'><%= leaders[leader] %></td>
  </tr>
  <% } %>
</table>
