<!DOCTYPE html>
<html>
  <head>


    <link rel='stylesheet' type='text/css' href='css/main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src='js/drawboard.js'></script>
    <script type='text/javascript' src='js/setup.js'></script>
    <script type='text/javascript' src='js/ships.js'></script>

  </head>
  <body>
    <%- include('partials/nav') %>
    <div id='status'>
      <h2>Please Place your Ships <%= player%></h2>
    </div>
    <form method='POST' action='<%= url%>' id='boardForm'>
    <input type='text' name='name'>Please enter your name</input>
    <%- include('partials/board') %>
    </form>




  </body>


</html>
