<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='css/main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src='js/drawboard.js'></script>
    <script type='text/javascript' src='js/setup.js'></script>
    <script type='text/javascript' src='js/ships.js'></script>

  </head>
  <body>
    <%- include('partials/nav') %>
    <%- include('partials/board') %>




  </body>


</html>
